header {
  background: #face7b;
}
#main-logo {
  font-size: 3rem;
  text-align: center;
}
header ul {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}
header ul li {
  font-size: 1.5rem;
  padding: 3%;
}

/* Home 영화 리스트 */

#movie-container {
  margin-top: 2%;
  overflow: hidden;
  position: relative;
}
.movie-list-title {
  display: flex;
  background: linear-gradient(to right, #ccff00, #ffcc00);
  padding: 1%;
}

#movie-container h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 3%;
}
#movie-container a {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1%;
}

.movie-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  position: relative;
}

.movie-list .movie-item {
  width: 200px;
  margin: 2%;
  box-sizing: border-box;
}

.movie-list .movie-item:hover {
  transform: 0.5s;
  opacity: 80%;
}
.movie-list .movie-item h3 {
  height: 30px;
  line-height: 30px;
  background-color: #face7b;
}
.movie-list .movie-item img {
  width: 200px;
  height: 300px;
}

/* movieDetail */
.movie-detail {
  display: flex;
  justify-content: space-around;
}
.movie-detail > * {
  padding: 3%;
}
.movie-detail-box {
  height: 500px;
}
.movie-detail-box img {
  height: 100%;
}
.movie-detail .movie-detail-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1%;
}
.movie-detail-textbox {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  line-height: 40px;
}
.movie-detail-textbox h2 {
  background-color: #face7b;
  padding: 2%;
}
.movie-detail p {
  font-size: 1rem;
  font-weight: bold;
  opacity: 70%;
}
/* footer */
footer {
  font-size: 5rem;
  text-align: center;
  background-color: firebrick;
}
