body {
  background: linear-gradient(to right, #3b3a3a, #8b8980, #474542);
}
header {
  background: #91eef5;
}
#main-logo {
  font-size: 3rem;
  text-align: center;
  padding: 1% 0;
}
header ul {
  display: flex;
  justify-content: space-around;
}
header ul li {
  font-size: 1.5rem;
  padding: 1%;
}

/* Home 영화 리스트 */

#movie-container {
  margin-top: 2%;
}

.category {
  display: flex;
  flex-wrap: wrap;
}
.movie-list-title {
  display: flex;
  padding: 0 1%;
  /* background: linear-gradient(to right, #ccff00, #ffcc00); */
}

#movie-container h2 {
  font-size: 2rem;
  color: white;

  font-weight: bold;
  margin-right: 1%;
}
#movie-container a {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  padding: 1%;
}

#movie-container > div > a:hover {
  text-decoration: 5px underline black;
}

.movie-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  position: relative;
}

.movie-list .movie-item {
  margin: 1%;
}

.movie-list .movie-item:hover {
  transform: 0.5s;
  opacity: 80%;
}
.movie-list .movie-item h3 {
  height: 30px;
  line-height: 30px;
  background-color: #91eef5;
}
.movie-list .movie-item img {
  width: 200px;
  height: 300px;
}

/* movieDetail */
.movie-detail {
  display: flex;
  justify-content: space-around;
}
.movie-detail > * {
  padding: 3%;
}
.movie-detail-box {
  height: 500px;
}
.movie-detail-box img {
  height: 100%;
}
.movie-detail .movie-detail-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1%;
}
.movie-detail-textbox {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  line-height: 40px;
}
.movie-detail-textbox h2 {
  background-color: #91eef5;
  padding: 2%;
}
.movie-detail p {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
/* footer */
footer {
  font-size: 5rem;
  text-align: center;
  background-color: #91eef5;
}
