#body {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #000;
}

#header h1 {
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
  margin: 2%;
}
#header #main-menu {
  display: flex;
  justify-content: space-around;
}

#header #main-menu li {
  padding: 2%;
}

footer {
  text-align: center;
  background: beige;
}
